---
---

@import "{{ site.theme }}";

header {
  margin: 0;
  padding : 0;
  border-bottom: 0;
}	

body {
  background: $body-background url({{ "/assets/img/background.png" | relative_url }}) 0 0;
  width: 33em;
  max-width: 100%;
  margin: auto;
}

.container {
  background: rgba(0, 0, 0, 0.1);
}
